@import "../../index.scss";
.layout {
  padding: 20px;
  @include for-desktop-up {
    padding: 50px;
  }
  position: relative;
  &__container {
    display: flex;
    gap: 2em;
    flex-direction: column;
    height: calc(100vh - 100px);
    @include for-desktop-up {
      flex-direction: row;
    }
    &--left {
      flex: 0 1 17%;
      background: linear-gradient($color-gradientBlue, $color-gradientPurple);
      border-radius: 30px;
      padding: 20px;
      display: flex;
      align-items: center;
      @include for-desktop-up {
        top: 50px;
        position: fixed;
        width: 15%;
        min-height: 85vh;
      }
    }
    &--right {
      flex: 0 1 83%;
      padding-top: 1em;
      @include for-desktop-up {
        margin-left: 25%;
        padding-right: 1.5em;
      }
    }
  }
  &__chat {
    &__container {
      position: fixed;
      bottom: 0;
      right: 3em;
      z-index: 100000;
    }
  }
}
