//color variables

//Basic Colors
$color-primary: #545454;
$color-secondary: #9b9b9b;

//Variants Of White
$color-white: #ffffff;
$color-border: #ececec;
$color-offWhite: #f6f6f6;
$color-variantOffWhite: #efefef;

//Variants Of Blue
$color-accentBlue: #2C65C8;
$color-darkBlue: #4055c8;
$color-borderBlue: #2c65c8;
$color-gradientBlue: #2c65c8;

//Variants Of Black
$color-brown: #4a4a4a;

//Variants Of Purple
$color-gradientPurple: #702cc8;
$color-menuPurple: #9a9ae0;

//Green Color
$color-green: #228b22;

// Red color
$color-red: #d55151;
