// Font variables
$font--medium: "Avenir LT Std Medium" !default;
$font--black: "Avenir LT Std Black" !default;
$font--roman: "Avenir LT Std Roman" !default;
$font--heavy: "Avenir LT Std Heavy" !default;
$font--light: "Avenir LT Std Light" !default;

//Font Weights
$font--weight-bold: 600;
$font--weight-medium: 400;
$font--weight-light: 100;
